<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor type="Sitecore.SharedSource.Wildcard.Pipelines.HttpRequest.WildcardItemResolver, Sitecore.SharedSource.Wildcard" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"/>
      </httpRequestBegin>
      <mvc.getPageItem>
        <processor type="Sitecore.Mvc.Pipelines.Response.GetPageItem.GetFromRouteValue, Sitecore.Mvc">
          <patch:attribute name="type">
            Sitecore.SharedSource.Wildcard.Pipelines.Mvc.GetPageItem.GetFromRouteUrl, Sitecore.SharedSource.Wildcard
          </patch:attribute>
        </processor>
      </mvc.getPageItem>
    </pipelines>

    <wildcard>
      <settings>
        <setting name="Default" path="/settings/wildcard" />
      </settings>
    </wildcard>
  </sitecore>
</configuration>