<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor type="Sitecore.SharedSource.Wildcard.Pipelines.HttpRequest.WildcardItemResolver, Sitecore.SharedSource.Wildcard" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"/>
      </httpRequestBegin>
    </pipelines>

    <wildcard>
      <settings>
        <setting name="Default" path="/settings/wildcard" />
      </settings>
    </wildcard>
  </sitecore>
</configuration>